
//@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Belanosima&family=Indie+Flower&display=swap');
.v-application {
  font-family: 'Athiti', sans-serif;
}

.v-text-field--outlined >>> fieldset {
  border-color: #b27d41;
}
